.mist-nav {
 
  background-color: transparent;
  height: 170px;
  width: 100%;
.center-links{

   margin-top: 4rem;
}
  
.lang select{

   height: 30% !important;
  }

  .lang select option{
    color: black;
  }

 .lang li:hover{

   background-color: white;
   cursor: pointer;
   
 }

  
}
